body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family: "Helvetica Neue Medium";
  src:local("Helvetica Neue Medium"),
  url("./fonts/Helvetica-Neue-Font/Helvetica Neue Medium Extended/Helvetica Neue Medium Extended.ttf")
}

@font-face{
  font-family: "Founders Grotesk";
  font-style:normal;
  src:local("Founders Grotesk"),
  url("./fonts/Test desktop fonts (OTF)/Test Founders Grotesk Collection/Test Founders Grotesk/TestFoundersGrotesk-Regular.otf")
}


@font-face{
  font-family:"Founders Grotesk";
  font-style:bold;
  src:local("./fonts/Test desktop fonts (OTF)/Test Founders Grotesk Collection/Test Founders Grotesk/TestFoundersGrotesk-Bold.otf"),
  url("./fonts/Test desktop fonts (OTF)/Test Founders Grotesk Collection/Test Founders Grotesk/TestFoundersGrotesk-Bold.otf");
}


@font-face{
  font-family:"Founders Grotesk Condensed";
  font-style:normal;
  src:local("./fonts/Test desktop fonts (OTF)/Test Founders Grotesk Collection/Test Founders Grotesk Condensed/TestFoundersGroteskCondensed-Regular.otf"),
  url("./fonts/Test desktop fonts (OTF)/Test Founders Grotesk Collection/Test Founders Grotesk Condensed/TestFoundersGroteskCondensed-Regular.otf");
}

@font-face{
  font-family:"Founders Grotesk Mono";
  font-style:normal;
  src:local("./fonts/Test desktop fonts (OTF)/Test Founders Grotesk Collection/Test Founders Grotesk Mono/TestFoundersGroteskMono-Regular.otf"),
  url("./fonts/Test desktop fonts (OTF)/Test Founders Grotesk Collection/Test Founders Grotesk Mono/TestFoundersGroteskMono-Regular.otf");
}

@font-face{
  font-family:"Founders Grotesk Text";
  font-style:normal;
  src:local("./fonts/Test desktop fonts (OTF)/Test Founders Grotesk Collection/Test Founders Grotesk Text/TestFoundersGroteskText-Regular.otf"),
  url("./fonts/Test desktop fonts (OTF)/Test Founders Grotesk Collection/Test Founders Grotesk Text/TestFoundersGroteskText-Regular.otf");
}

@font-face{
  font-family:"Geograph";
  font-style:normal;
  src:local("./fonts/Test desktop fonts (OTF)/Test Geograph/TestGeograph-Regular.otf"),
  url("./fonts/Test desktop fonts (OTF)/Test Geograph/TestGeograph-Regular.otf");
}



