.recipeList{
    list-style-type: none;
    padding:0;
    max-width:1600px;
    width:100%;
    margin:0 auto;
    border-bottom: 1px solid white;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 0.4em;
}

/*
.recipeList:nth-child(3n)
{
    border-right: none;
}
*/

.recipeCard{
    border-bottom: none;
    border-right:1px solid white;
    
}

.recipeInfo{
    display: block;
    height: 100%;
    padding: 40px;
    max-height:200px;
}

.image{
    width:100%;
    height:50%;
}

img{
    width:100%;
    max-height:240px;
    object-fit: cover;
    
    
}

.contentWrapper{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "."
      ".";
     
}

.topBar{
    display: flex;
    padding:40px;
}


.title{
    padding:40px;
    padding-bottom:0;
    flex:1;
}

.title h1{
    margin:0;
    text-transform: uppercase;
    text-align: left;
    
}

.recipeTitle{
    text-align: left;
    font-size:20px;
    color: beige;

}

.recipeDescription{
    font-size:14px;
    text-align: left;
    font-family: 'Geograph';
}


.author, .category{
    font-family:'Source Code Pro';
    font-size:11px;
    text-transform: uppercase;
    text-align: left;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 11px;
}


.author{
    display:inline;
}

.category{
    text-decoration: underline;

}

.getMore{
    display:inline;
    text-decoration: underline;
    color:white;
    font-family:'Source Code Pro';
 
    text-transform: uppercase;
    text-align: left;
}

.getMore h5{
    height:100%;
}

.react-tag-input__input {
    flex:1;
    background: black;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 2px;
    color: white;
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-body-bold);
    line-height: 1;
    padding: 18.5px 40px 18.5px 0;
    width: 60%;
    font-family: 'Founders Grotesk';
}

.react-tag-input {
    position: relative;
    width: 75%;
    /* height: auto; */
    max-height: 1.375em;
    padding: 0.1875em 0.375em;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1rem;
    background: #000;
    color: #333;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    border-radius: 3px;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Founders Grotesk';
    margin: auto 0;
    margin-bottom: 0;
}


